# Включаем обработку PHP
AddType application/x-httpd-php .php

# Увеличиваем лимиты
php_value upload_max_filesize 10G
php_value post_max_size 10G
php_value max_execution_time 3600
php_value max_input_time 3600
php_value memory_limit 512M

# Разрешаем CORS (если нужно)
Header set Access-Control-Allow-Origin "*"
